<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RepositoryTest" connectionString="metadata=res://*/RepositoryTest.csdl|res://*/RepositoryTest.ssdl|res://*/RepositoryTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=RepositoryTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
